<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="../css/login.css">
	<script src="../lib/jquery-2.1.1.min.js"></script>
	<script src="../lib/angular.min.js"></script>
	<script src="../js/commonLogin.js"></script>
	<script src="../js/register.js"></script>

</head>
<body>
<div class="main" ng-app="myapp" ng-controller="mycontroller">
	    
	    <div  class="loginMsg selected">
	        <div class="input_area border">
				<input type="text" id="name" placeholder="请输入手机号码" name="mobile_phone_no"  ng-model="name">
				<a href="#">发送验证码</a>
			</div>
			<div class="input_area border">
			    <input name="password" id="pwd_pwd" type="text" placeholder="请输入短信中的验证码">
			</div>
			<div class="input_area" >
				<input name="pic_verify_num" class="short_input" type="password" placeholder="输入新密码" id="psw" ng-model="psw">
				<span></span>
			</div>
			<div class="login"><input type="button" value="立即注册" class="loginBtn" ng-click="Btn()" ></div>
	    	
	    </div>
		
	</div>

<!-- <script>

    var myApp = angular.module('myapp',['commonApp']);
    myApp.controller('mycontroller',['$scope','$http',function($scope,$http){


    	$scope.Btn =function(){


	    	console.log($scope.name);
	    	console.log($scope.psw);

            
	    	$http({
		        url:'http://localhost:88/'+'html/register',
		        data:{name:$scope.name,password:$scope.psw},
		        method:'post'
		      }).success(function(data){
		       alert("注册成功");
		       location.href = "login.html";
		       
		     })
    	}
     
    }]) ;
  


</script> -->
	
</body>
</html>